In [5]:
import pandas as pd

In [6]:
# Rutas
main_rute = "/Users/ferleon/Documents/GitHub/astra/"

# Trains route
folder = main_rute + 'boneage-training-dataset'
csv_train = main_rute + 'boneage-training-dataset.csv'

# Test route
folder_test = main_rute + 'boneage-test-dataset'
csv_test = main_rute + 'boneage-test-dataset.csv'

In [7]:
# ==========  Cargamos data sets de entrenamiento y de test ==========

df_train = pd.read_csv(csv_train)
df_test = pd.read_csv(csv_test)

print(df_train.shape)
df_train.head()

(12611, 3)

     id  boneage   male
0  1377      180  False
1  1378       12  False
2  1379       94  False
3  1380      120   True
4  1381       82  False

In [8]:
print(df_test.shape)
df_test.head()

(200, 2)

   Case ID Sex
0     4360   M
1     4361   M
2     4362   M
3     4363   M
4     4364   M